# attr==0.3.2
# colorama==0.4.6
# ConfigParser==7.1.0
# cryptography==41.0.7
# cryptography.egg==info
# Cython==3.0.12
datasets==3.1.0
dgl==2.4.0+cu124
dl==0.1.0
docutils==0.21.2
eth_utils==5.2.0
filelock==3.17.0
HTMLParser==0.0.2
hypothesis==6.127.2
imblearn==0.0
importlib_resources==6.5.2
ini2toml==0.15
ipython==8.12.3
# ipywidgets==8.1.5
# jnius==1.1.0
# keyring==25.6.0
matplotlib==3.10.0
mod==0.3.0
networkx==3.4.2
numpy==2.2.3
pandas==2.2.3
path.py==12.5.0
Pillow==11.1.0
pkg1==0.0.3
protobuf==5.29.3
psutil==6.1.0
# psutil==5.9.8
pyOpenSSL==23.2.0
# pyOpenSSL==25.0.0
pytest==8.3.4
redis==5.2.1
scikit_learn==1.6.1
Sphinx==8.2.1
sphinx_rtd_theme==3.0.2
tomli_w==1.2.0
torch==2.4.0
torchmetrics==1.6.0
trove_classifiers==2025.2.18.16
urllib3_secure_extra==0.1.0
# usercustomize==1.0.0
# xmlrpclib==1.0.1
# xx==3.3.2
