ETHERSCAN_API_KEY=1EYF2RHYIB34DH5SJHPZ2RV1KE7J8WTAU3
PROTOTYPE_HOST=127.0.0.1
PROTOTYPE_PORT=8000
SOG_PYTHON=python
RGCN_PYTHON=/home/sandra/anaconda3/envs/rgcn/bin/python
RGCN_MODEL_PATH=/home/sandra/SRG_Project/RGCN/model/trained_model/hie/best_model_hie_rgcn_2426_393-400.pt
